.search-form{ 
    height: 30px; 
    width: 300px; 
    margin-left: 55%;
    margin-top: 10px;
}

input{
    border-radius: 10px;
    height: 30px;  
    padding-left: 15%;
    margin-left: 0%; 
    width: 300px;
}