<app-nav-menu>
  <app-search-bar>

  </app-search-bar>
</app-nav-menu>


<app-product 
  img_link="https://encrypted-tbn3.gstatic.com/shopping?q=tbn:ANd9GcSjnlUswpoAxW0jRM-zcGYafuFTNO5JV-xJKNuswnZS9FdMW89p8nBeoxUfcT6Y4pYPEgPmoTkuaQHh4lSh9JeGYg3CnAkhsxd8D0mJfXul&usqp=CAE"
  text="Sony Headphones"
  ></app-product>

 <app-product
  img_link="https://m.media-amazon.com/images/I/61Az2uOUbqL.jpg" 
  text="Razer Keyboard"
  ></app-product>

  <app-product
  img_link="https://cdn.ozone.ro/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/d/e/63f92f954103b5e65d2add08407fe646/mouse-gaming-razer---deathadder-v2--negru-30.jpg" 
  text="Razer Mouse"
  ></app-product>