<div class="navbar">
    <input
    id="logo_home"
    type="image"
    src="https://cdn-icons-png.flaticon.com/512/60/60817.png"
    />
    <app-search-bar id="search-bar">
    </app-search-bar>
    <div class="dropdown">
        <input
            id="logo_login"
            type="image"
            src="https://www.iconpacks.net/icons/1/free-user-login-icon-305-thumb.png"
        />
        <div class="dropdown-content">
            <button id="login_button" (click)="showlogin()" *ngIf="!isLoggedIn && !isAdmin">Log In</button>
            <button  *ngIf="isLoggedIn" (click)="showCart()">My Cart</button>
            <button  *ngIf="isLoggedIn" (click)="resetPassword()">Reset Password</button>
            <button (click)="showProductForm()" *ngIf="isAdmin">Modify DB</button>
            <button (click)="showOrders()" *ngIf="isAdmin">View placed orders</button>
            <button (click)="logout()" *ngIf="isLoggedIn || isAdmin">Log out</button>
            <button>About</button>
        </div>
    </div>
</div>

<div class="wrapper" [hidden] = "isDisplay" >
    <div class="title">
       Login Form
    </div>
    <form action="#">
       <div class="field">
          <input type="text" #email required>
          <label>Email Address</label>
       </div>
       <div class="field">
          <input type="password" #password required>
          <label>Password</label>
       </div>
       <div class="content">
          <div class="checkbox">
             <input type="checkbox" id="remember-me">
             <label for="remember-me">Remember me</label>
          </div>
          <div class="pass-link">
             <a href="#">Forgot password?</a>
          </div>
       </div>
       <div class="field">
          <input type="submit" value="Log in" (click)="onLogin($event, email.value, password.value)">
       </div>
       <div class="field">
         <input type="submit" value="Log in as admin" (click)="onAdminLogin($event, email.value, password.value)">
      </div>
       <div class="field">
        <input type="submit" value="Register" (click)="onRegister($event, email.value, password.value)">
       </div>
       <button id="cancel_button" (click)="showlogin()">
        Cancel
       </button>
    </form>
 </div>

 <div class="wrapper" [hidden] = "productForm" >
   <div class="title">
      Add product to database
   </div>
   <form action="#">
      <div class="field">
         <input type="text" #product_name required>
         <label>Name</label>
      </div>
      <div class="field">
         <input type="text" #product_image required>
         <label>Image</label>
      </div>
      <div class="field">
         <input type="text" #price required>
         <label>Price</label>
      </div>
      <div class="field">
         <input type="submit" value="Add product" (click)="addProductToDatabase(product_name.value, product_image.value, price.value)">
      </div>
      <div class="field">
       <input type="submit" value="Remove by name" (click)="removeProductFromDatabase(product_name.value)">
    </div>
      <button  (click)="showProductForm()">
       Cancel
      </button>
   </form>
</div>

<div class="wrapper" *ngIf = "resetPassView" >
   <div class="title">
      Password reset
   </div>
   <form action="#">
      <p style = "font-style:italic">A reset email has been sent. Check your mail and follow the instructions</p>
      <div class="field">
         <input type="submit" value="OK" (click)="hideReset()">
      </div>
   </form>
</div>

<div class="CartContainer" *ngIf = "showCartDiv">
   <div class="Header">
      <h3 class="Heading">Shopping Cart</h3>
   </div>

   <div class="Cart-Items" *ngFor="let cartItem of cart; index as i">
         <div class="image-box">
            <img src={{cartItem.image}} style=" height:120px" />
        </div>
        <div class="about">
           <h1 class="title">{{cartItem.name}}</h1>
        </div>
        <div class="prices">
           <div class="amount">{{cartItem.price}}</div>
           <div class="remove" (click)="removeItemFromCart(cartItem)"><u>Remove</u></div>
        </div>
   </div>
 <hr> 
 <div class="checkout">
 <div class="total">
    <div class="total-amount">${{total}}</div>
 </div>
 <button class="button" (click)="onCheckout()">Checkout</button>
 <button class="button" (click)="hideCart()">Close</button></div>
</div>

<div class="CartContainer" *ngIf = "showOrdersDiv">
   <div class="Header">
      <h3 class="Heading">Orders</h3>
   </div>

   <div class="Cart-Items" *ngFor="let cartItem of cart; index as i">
         <div class="image-box">
            <img src={{cartItem.image}} style=" height:120px" />
        </div>
        <div class="about">
           <h1 class="title">{{cartItem.name}}</h1>
        </div>
        <div class="prices">
           <div class="amount" *ngIf="cartItem.mail">{{cartItem.price}} 
            ordered by {{cartItem.mail}}</div>
        </div>
   </div>
 <hr> 
 <div class="checkout">
 <button class="button" (click)="hideOrders()">Close</button></div>
</div>