<div style="display: flex; justify-content:space-between">
    <input
    id="logo_home"
    type="image"
    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTAeHj-Vg0zO_78nEf5H1pqeVJlQrshOWAbAA&usqp=CAU"
    />
    <app-search-bar id="search-bar">
    </app-search-bar>
    <div class="dropdown">
        <input
            id="logo_login"
            type="image"
            src="https://png.pngtree.com/png-vector/20191110/ourmid/pngtree-avatar-icon-profile-icon-member-login-vector-isolated-png-image_1978396.jpg"
        />
        <div class="dropdown-content">
            <button id="login_button" (click)="showlogin()">Log In</button>
            <button>Register</button>
            <button>About</button>
        </div>
    </div>
</div>

<div class="wrapper" [hidden] = "isDisplay" >
    <div class="title">
       Login Form
    </div>
    <form action="#">
       <div class="field">
          <input type="text" #email required>
          <label>Email Address</label>
       </div>
       <div class="field">
          <input type="password" #password required>
          <label>Password</label>
       </div>
       <div class="content">
          <div class="checkbox">
             <input type="checkbox" id="remember-me">
             <label for="remember-me">Remember me</label>
          </div>
          <div class="pass-link">
             <a href="#">Forgot password?</a>
          </div>
       </div>
       <div class="field">
          <input type="submit" value="Login" (click)="onLogin($event, email.value, password.value)">
       </div>
       <div class="field">
        <input type="submit" value="Register" (click)="onRegister($event, email.value, password.value)">
     </div>
       <button id="cancel_button" (click)="showlogin()">
        Cancel
       </button>
    </form>
 </div>