<div style="display: flex; justify-content:space-between">
    <input
    id="logo_home"
    type="image"
    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTAeHj-Vg0zO_78nEf5H1pqeVJlQrshOWAbAA&usqp=CAU"
    />
    <app-search-bar id="search-bar">
    </app-search-bar>
    <div class="dropdown">
        <input
            id="logo_login"
            type="image"
            src="https://png.pngtree.com/png-vector/20191110/ourmid/pngtree-avatar-icon-profile-icon-member-login-vector-isolated-png-image_1978396.jpg"
        />
        <div class="dropdown-content">
            <a>Log In</a>
            <a>Register</a>
            <a>About</a>
        </div>
    </div>
</div>